.UserDashboard {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1.5%;
}

.MapColumn {
  background-color: #282c34;
  min-height: 100vh;
}

.DataVisualization {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.DataVisualization-text {
  color: white;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 120%;
}

.leaflet-container {
  width: 75%;
  height: 70vh;
  margin-bottom: 2%;
}

.mapCheckbox {
  text-align: left;
  margin-left: 10%;
}

.react-icons {
  vertical-align: top;
  margin-left: -100%;
}

#mapCheckboxText {
  margin-bottom: 0%;
}

#downloadButton {
  margin-top: 1%;
}

#dateInput {
  text-align: center;
}
