.DataVisualization {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DataVisualization-text {
  color: white;
}

.leaflet-container {
  width: 50%;
  height: 50vh;
}

#downloadButton {
  margin-top: 1%;
}
