.Upload {
  font-size: calc(1px + 1.5vmin);
  color: white;
  padding-top: 1.5%;
}

#submitButton {
  margin-top: 7%;
  font-size: calc(3px + 1.5vmin);
}

#fileInput {
  padding-top: 3%;
  /* padding-left: 25%; */
}

#userInput2 {
  padding-top: 3%;
}

#userInput3 {
  padding-top: 3%;
}

.formText {
  text-align: center;
  padding: 3%;
  font-size: calc(3px + 1.5vmin);
}
