.Upload {
  font-size: calc(1px + 1.5vmin);
  color: white;
  padding-top: 1.5%;
}

#submitButton {
  margin-top: 7%;
  font-size: calc(5px + 1.5vmin);
}

#inputTitle {
  font-size: calc(3px + 1.5vmin);
}

#userInput2 {
  padding-top: 3%;
}

#userInput3 {
  padding-top: 3%;
}

#dateQuestions {
  text-align: center;
}

.dateInput {
  text-align: center;
}

.formText {
  text-align: center;
  padding: 3%;
  font-size: calc(5px + 1.5vmin);
  white-space: nowrap;
  overflow: hidden;
}

.modal-header .close {
  display:none;
}

.fileInput {
  padding-top: 3%;
  /* padding-left: 25%; */
  font-size: calc(3px + 1.5vmin);
}
